//Fonts
$opensans: 'Open Sans';
$spline-sans: 'Spline Sans Mono';
$fredericka: 'Fredericka the Great', cursive;
$caveat: 'Caveat', cursive;

// Font weight

// Color
$black: #000000;
$white: #ffffff;

$black-50:#f8fafc;
$black-100: #f1f5f9;
$black-200: #e2e8f0;
$black-300: #cbd5e1;
$black-400: #94a3b8;
$black-500: #64748b;
$black-600: #475569;
$black-700: #334155;
$black-800: #1e293b;
$black-900: #0f172a;

$green-50: #ecfdf5;
$green-100: #d1fae5;
$green-200: #a7f3d0;
$green-300: #6ee7b7;
$green-400: #34d399;
$green-500: #10b981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065f46;
$green-900: #064e3b;

$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

$orange-50: #fffbeb;
$orange-100: #fef3c7;
$orange-200: #fde68a;
$orange-300: #fcd34d;
$orange-400: #fbbf24;
$orange-500: #f59e0b;
$orange-600: #d97706;
$orange-700: #b45309;
$orange-800: #92400e;
$orange-900: #78350f;

$yellow-50: #fefce8;
$yellow-100: #fef9c3;
$yellow-200: #fef08a;
$yellow-300: #fde047;
$yellow-400: #facc15;
$yellow-500: #eab308;
$yellow-600: #ca8a04;
$yellow-700: #a16207;
$yellow-800: #854d0e;
$yellow-900: #713f12;